%h1= @comic.title
%p=@comic.description
%p
Submitted by
= @comic.user.email

= link_to 'Back', root_path
= link_to 'Edit', edit_comic_path
= link_to 'Delete', comic_path, method: :delete, data: {confirm: 'Are you sure?'} 