#comic_show.row
	.col-md-8.col-md-offset-2
		.panel.panel-default
			.panel-heading.comic_image 
				= image_tag @comic.image.url
			.panel-body	
				%h1= @comic.title
				%p.description=@comic.description
				%p
				Submitted by
				= @comic.user.email
			.panel-footer
				.row
					.col-md-6
						Submitted by
						= @comic.user.email
					.col-md-6
						.btn-group.pull-right
							= link_to like_comic_path(@comic), method: :puts, class: 'btn btn-default' do
								%span.glyphicon.glyphicon-heart
								= @comic.get_upvotes.size
							-if user_signed_in?
								= link_to 'Back', root_path, class: 'btn btn-default'
								= link_to 'Edit', edit_comic_path, class: 'btn btn-default'
								= link_to 'Delete', comic_path, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-default' class: 'btn-default'